/* * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background: rgb(236, 236, 236);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
